{% extends "base.html" %}
{% block title %}{{ post.location }}. {{ post.date }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <article>
      <ul>
        <li>Место: {{ post.location }}</li>
        <li>Дата: {{ post.date|date:"d F, Y" }}</li>
        <li>
          Категория: <a href="{% url 'blog:category_posts' post.category.slug %}">{{ post.category.title }}</a>
        </li>
      </ul>
      <p>
        {{ post.text|linebreaksbr }}
      </p>
    </article>
  </div>
{% endblock %}
